/* input[type="time"]::before {
  content: '--:--';
  color: #919499;
  position: absolute;
  background: #fff;
  width: 70px;
  padding: 0;
} */

input[type="time"]::-webkit-calendar-picker-indicator{
  filter: invert(70%) grayscale(90%);
}
